@import "./leptonic/leptonic-themes";

[data-theme="light"] {
    --brand-color: #3061aa;
}

[data-theme="dark"] {
    --brand-color: #3061aa;
}

#flag-icons-fr, #flag-icons-gb {
    max-width: 2vw;
    max-height: 1.5vh;
}

:root {
    --background-color: #f0f0f0;
    --typography-p-font-size: 1em;
}

#header {
    color: black; //var(--brand-color);
    --skeleton-background-color: var(--background-color);
    --link-color: black;
    background-color: var(--background-color);

}

#header h2 a:hover{
    color: #303030;
}

#home-page {
    --typography-p-line-height: 1.2;
    --typography-p-margin: 0 0 0 0;
}

@media (min-width: 640px) {
    body {
        --border-size-x: 0px;
        --button-font-size: 1em;
    }
}

@media (min-width: 768px) {
    body {
        --border-size-x: calc(-312px + 40vw);
        --button-font-size: 1em;
    }
}

body {
    font-size: calc(15px + 0.390625vw);
    --border-size-y: calc(-10px + 2vw);
}

.home-text {
    margin: 2em;
    padding: 2em;
    background-color: var(--skeleton-background-color);
}

.home-text leptonic-checkbox {
    justify-content: flex-start;
    padding: 0.5em 1em 1em 1em;
}

.home-text leptonic-link, #header leptonic-link {
    font-size: var(--button-font-size);
}

#home {
    margin: 1.5em var(--border-size-x) var(--border-size-y) var(--border-size-x);
}

#home span {
    font-size: var(--button-font-size);
}

.flag {
    width: 40px;
    height: 30px;
}

#game {
    padding: 2em;
    width: 100%;
}

#status {
    width: 100%;
    padding: 1em;
}

#status .status-border {
    width: 100%;
    border-style: solid;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em; 
    padding-right: 4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

#game-content {
    width: 100%;
}

#buttons {
    padding: 1em;;    
}